# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Code/node_modules
/Code/.pnp
/Code/.pnp.js

# testing
/Code/coverage

# production
/Code/build

# misc
/Code/.DS_Store
/Code/.env.local
/Code/.env.development.local
/Code/.env.test.local
/Code/.env.production.local
/Code/.vscode/settings.json

/Code/npm-debug.log*
/Code/yarn-debug.log*
/Code/yarn-error.log*
