
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background-color: #101118;
}

.website{
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #34e89e, #0f3443); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #34e89e, #0f3443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.particles canvas {
  display: -webkit-box;
  vertical-align: top;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

.app{
  width: 100%;
  height: 100%;
}

#meDiv{
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  color: white;
  font-family: monospace;
  font-size: x-large;
  text-align: center;
}

#meNote{
  font-size: x-small;
}
#emailInfo{
  font-size: small;
}